//! **************************************************************************
// Written by: Map P.58f on Sun Nov 02 23:21:40 2014
//! **************************************************************************

SCHEMATIC START;
COMP "addr<2>" LOCATE = SITE "J18" LEVEL 1;
COMP "databus<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "addr<3>" LOCATE = SITE "J16" LEVEL 1;
COMP "databus<6>" LOCATE = SITE "T3" LEVEL 1;
COMP "addr<4>" LOCATE = SITE "G18" LEVEL 1;
COMP "databus<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "addr<5>" LOCATE = SITE "G16" LEVEL 1;
COMP "switches<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "addr<6>" LOCATE = SITE "H16" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "addr<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "lb" LOCATE = SITE "K16" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "addr<8>" LOCATE = SITE "H14" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "addr<9>" LOCATE = SITE "H13" LEVEL 1;
COMP "switches<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "switches<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "cre" LOCATE = SITE "M18" LEVEL 1;
COMP "write_led" LOCATE = SITE "V15" LEVEL 1;
COMP "switches<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "oe" LOCATE = SITE "L18" LEVEL 1;
COMP "switches<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "ub" LOCATE = SITE "K15" LEVEL 1;
COMP "addr<10>" LOCATE = SITE "F18" LEVEL 1;
COMP "addr<11>" LOCATE = SITE "F17" LEVEL 1;
COMP "addr<12>" LOCATE = SITE "K13" LEVEL 1;
COMP "addr<20>" LOCATE = SITE "G14" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "write" LOCATE = SITE "D9" LEVEL 1;
COMP "we" LOCATE = SITE "M16" LEVEL 1;
COMP "addr<13>" LOCATE = SITE "K12" LEVEL 1;
COMP "addr<21>" LOCATE = SITE "F14" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "addr<14>" LOCATE = SITE "E18" LEVEL 1;
COMP "addr<22>" LOCATE = SITE "C18" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "addr<15>" LOCATE = SITE "E16" LEVEL 1;
COMP "addr<23>" LOCATE = SITE "C17" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "addr<16>" LOCATE = SITE "G13" LEVEL 1;
COMP "addr<24>" LOCATE = SITE "F16" LEVEL 1;
COMP "segments<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "read_out" LOCATE = SITE "T11" LEVEL 1;
COMP "addr<17>" LOCATE = SITE "H12" LEVEL 1;
COMP "addr<25>" LOCATE = SITE "F15" LEVEL 1;
COMP "segments<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "addr<18>" LOCATE = SITE "D18" LEVEL 1;
COMP "segments<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "addr<19>" LOCATE = SITE "D17" LEVEL 1;
COMP "segments<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "segments<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "segments<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "segments<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "sram_clk" LOCATE = SITE "R10" LEVEL 1;
COMP "write_out" LOCATE = SITE "R11" LEVEL 1;
COMP "clk_lock" LOCATE = SITE "U16" LEVEL 1;
COMP "read_led" LOCATE = SITE "M11" LEVEL 1;
COMP "fpga_clk" LOCATE = SITE "V10" LEVEL 1;
COMP "databus<0>" LOCATE = SITE "R13" LEVEL 1;
COMP "databus<1>" LOCATE = SITE "T14" LEVEL 1;
COMP "read" LOCATE = SITE "C4" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
COMP "databus<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "ce" LOCATE = SITE "L15" LEVEL 1;
COMP "addr<0>" LOCATE = SITE "K18" LEVEL 1;
COMP "databus<3>" LOCATE = SITE "U5" LEVEL 1;
COMP "addr<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "databus<4>" LOCATE = SITE "V5" LEVEL 1;
COMP "adv" LOCATE = SITE "H18" LEVEL 1;
NET "U1/clkin1" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

